$main-background: #202020;
$link-color: #EB0C8B;
$text-color: #b6b2b5;
$heading-color: #f1f1f1;

$dark-border:#4f4e4f;
$light-border: #696969;
$box-color: #4b4b4b;

@mixin rounded-corners {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

@mixin common-borders {
    border-width:1px;
    border-style:solid;
    border-bottom-color: $dark-border;
    border-right-color: $dark-border;
    border-top-color: $light-border;
    border-left-color: $light-border;
    @include rounded-corners;
}

@mixin buttonize {
   @include common-borders;
}

nav {
    ul {
        list-style-type: none;
        li {
            @include buttonize;
            margin-left: 14px;
            width: 120px;
            margin-bottom: 4px;
            padding-left: 4px;
        }
    }
    
}

input {
  @include rounded-corners;
  background-color: $heading-color;
  font-size: 110%;
  height: 1.2em;
  color: $light-border;
}


body {
    background-color: $main-background;
    color: $text-color;
    font: lighter 13px/15px Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    line-height: 1.4;
}

h3 {
  font-size: 110%;
  margin-bottom: 0px;
  color: $heading-color;
  margin-left: 5px;
  font-weight: normal;
}

h1 {
    font-size: 250%;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 4px;
    color: $heading-color;

    a {
      text-decoration: none;
      color: $heading-color;
    }

    img {
      position: relative;
    }
}

.talk {
      h2 {
      text-align: right;
      padding-right: 50px;
      padding-bottom: 0;
      margin-bottom: 0;
      }
}

header {
  border: 0;
}

.abstract {
    visibility: hidden;
    display: none;
}

article {
    width: 700px;

    background-color: $box-color;
    @include common-borders;

    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
    position: relative;

    .keywords {
      font-size: 90%;
      margin-bottom: 5px;
      margin-top: 3px;
    }

    span {
         color: #f9f9f9;
    }        

    div.wiki {
      margin-left: 0px;
      margin-top: 10px;

      ul li {
        list-style: circle;
        margin-left: 20px;
      }

      .paragraph {
        padding-top: 6px;
      }
      .paragraph:nth-of-type(n+2):first-letter {
        margin-left: 20px;
      }

      .paragraph:first-of-type:first-letter {
        color: $heading-color;
        font-size: 440%;
        float:left; 
        padding: 2px;
        margin-top: -15px;
        margin-bottom: -22px;
        position: relative;
        top: -20px; 
      }


    }

    a {
      color: $link-color;
      text-decoration: none;
      text-align: center;
      
      img {
        width: 640px;
        margin-left: 30px;
        @include common-borders;
        border-width: 1px;
        border-color: #818181;
        border-style: outset;
      }

    }

    a:hover {
        text-decoration: underline;

    }


    h2 {
      font-size: 130%;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 6px;
      margin-left: 5px;
      letter-spacing: 0.1em;
    }

    ul {
      list-style-type: none;
      margin-bottom: 0px;
      
      li {
        margin-left: 6px;
      }
    }

    footer {
        text-align: right;
        width: 100%;
        padding-top: 18px;
    }

    footer ul {
        margin-bottom: 10px;
        text-align: right;
        margin-right: 4px;
    }
    
    footer ul li {
      font-size: 80%;
      background-color: $heading-color;
      color: $main-background;
      border: 1px solid #8a8a8a;
      display: inline;
      padding: 2px;
      padding-left: -2px;
      @include rounded-corners;
      font-weight: normal;
      margin-left: 2px;
    }
    
    footer ul li a {
      color: $dark-border;
      font-weight: bold;
    }
}

span.square {
   color: $link-color;
   margin-left: 5px;         
   margin-right: 5px;
   padding: 0px;         
}

div.content:first-of-type {
    padding-left: 10px;
}

article.speaker {
  width: 800px;
  background: transparent;
  border: none;

  h2 {
     font-size: 250%;
     letter-spacing: 0.1em;
     text-align: center;
  }        

  footer {
    border: none;
  }
}

p {
  position: relative;
  left: 100px;
}

body > footer {
  font-size: 85%;
  border-top: 2px solid $light-border;
  border-style: groove;
  text-align: center;
  padding-top: 4px;
  width: 60%;
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
  letter-spacing: 0.1em;

  a {
    color: $link-color;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }

  }
}

.symbol {
  color: white;
  font-size: 120%;
}

.info ul li {
  display: inline;
}

.button {
  margin: 2px;
  text-align: left;
  color: $text-color;
  font-size: 90%;
  font-weight: normal;
  background: transparent;
}

.ui-state-hover {
  background-color: $heading-color;
  color: $dark-border;
}

.ui-icon {
  background-image: url(../images/ui-icons_222222_256x240.png) !important;
}

.ui-icon-gear { 
  background-position: -192px -112px; 
}

.shadow {
  border: 1px solid red;
  background-color: $light-border;
}
