$grey: #202020;

body {
    background-color: $grey;
    color: #b6b2b5;
    font: lighter 14px/18px Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    padding-left: 80px;
    font-size: 200%;
    padding-top: 0;
    margin-top: 20px;
    color: #f1f1f1;
}

h1 img {
    position: relative;
    top: 12px;
}

article {
    width: 500px;

    background-color:#4b4b4b;
    border-width:1px;
    border-style:solid;
    border-bottom-color:#4f4e4f;
    border-right-color:#4f4e4f;
    border-top-color:#696969;
    border-left-color:#696969;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
    position: relative;
    left: 100px;
}

article h2 {
    font-size: 110%;
    margin-top: 0;
    padding-top: 0;
}

footer ul {
    margin-bottom: 0;
    text-align: right;
}

footer ul li {
    font-size: 80%;
    background-color: #f1f1f1;
    color: #979ac6;
    border: 1px solid #8a8a8a;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display: inline;
    padding: 2px;
}

footer ul li a {
    color: #3f3f3f;
    font-weight: bold;
}
