body {
     background-color: #202020;
     color: #b6b2b5;
     font: lighter 14px/18px Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
     line-height: 1.5;
}

h1 {
     padding-left: 80px;
     font-size: 200%;
     padding-top: 0px;
     margin-top: 20px;
     color: #f1f1f1;
}

h1 img { 
         position: relative;
         top: 12px;
}


