body {
     background-color: #202020;
     color: #b6b2b5;
     font: lighter 14px/18px Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
     line-height: 1.5;
}

h1 {
     padding-left: 80px;
     font-size: 200%;
     padding-top: 0px;
     margin-top: 20px;
     color: #f1f1f1;
}

h1 img { 
         position: relative;
         top: 12px;
}

article {
  width: 500px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #b6b2b5;
  background-color: d9d5d8;
  margin: 5px;
  padding: 5px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}

article h2 {
  font-size: 130%;
  margin-top: 0px;
  padding-top: 0px;
}

