body {
     background-color: #202020;
     color: #b6b2b5;
     font: lighter 14px/18px Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
     line-height: 1.5;
}

h1 {
     padding-left: 80px;
     font-size: 200%;
     padding-top: 0px;
     margin-top: 20px;
     color: #f1f1f1;
}

h1 img { 
         position: relative;
         top: 12px;
}

article {
  width: 500px;

  background-color:#4b4b4b;
    border-width:1px;
    border-style:solid;
    border-bottom-color:#4f4e4f;
    border-right-color:#4f4e4f;
    border-top-color:#696969;
    border-left-color:#696969;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

  margin: 5px;
  padding: 5px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}

article h2 {
  font-size: 110%;
  margin-top: 0px;
  padding-top: 0px;
}

