$language-color: green;
$talktype-color: black;
$heading-color: #f1f1f1;
$effect-color: #00adee;
$background-color: #222;

html {
     background-color: $background-color;;
}

body {
  padding-top: 60px;
  font-family: "proxima-nova-condensed", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px !important;
  color: $heading-color !important;
  background-color: $background-color !important;
}

#beta {
  width: 87px;
  height: 88px;
  background: url(../images/beta.png);
  position: absolute;
  right: 0px;
  top: 0px;
  pointer-events: none;
}

#more {
  float: right;
  font-size: 24px;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0 !important;
}

h2 {
  color: $heading-color;
  font-size: 20px;
  line-height: 30px;
}

.navbar {
  background-color: $background-color !important;
}

.navbar .btn {
  margin-top: 11px;
}

.navbar-inner {
  background: $background-color !important;
  box-shadow: none;
  -webkit-box-shadow: none;

  .brand {
    color: $heading-color !important;
    font-size: 270%;
    font-weight: 400;
    padding-left: 70px;
  }
  
  .nav {
    padding-top: 6px !important;
  }

  ul.dropdown-menu {
    background-color: $background-color;
    border: 1px solid #f1f1f1;
  }

  li.active > a {
    background-color: transparent !important;
    border-bottom: 2px solid $effect-color;
    color: $heading-color !important;

    ul.dropdown-menu li a {
      border: 0 !important;
      color: $heading-color;;
    }
  }
  
  li a {
    color: $heading-color !important;
    padding-bottom: 3px !important;
  }

  li a:hover {
    color: $heading-color !important;;
  }

  .active li a:hover {
    color: $background-color !important;;
  }
  

}

form {
  margin: 1px 0;

  input[type="text"]{
    margin-top: 5px;
    margin-bottom: 0px;
  }

  input {
    color: #333 !important;
  }

}

#filter-tags, #activetags, nav h3 {
  text-align: right;
}

#filter-tags li {
  margin-top: 1px;
  margin-bottom: 2px !important;
  display: inline !important;
}

#activetags li {
  display: inline !important;
  line-height: 19px;
}

.caret {
  border-top-color: $effect-color !important;
}

.label {
  border: 1px solid;
  margin: 1px 1px;
  padding: 0px 4px 1px !important;
  border-radius: 4px;
  color: black;
  background-color: white;
  border-color: $heading-color;
}

.label.android,
.label.rest,
.label.frameworks,
.label.testing,
.label.methodology,
.label.methods,
.label.functional,
.label.agile,
.label.productivity,
.label.experience,
.label.meta,
.label.integration,
.label.web,
.label.nosql,
.label.tools,
.label.mobile,
.label.architecture,
.label.security,
.label.cloud, 
.label.design,
.label.psychology,
.label.estimation,
.label.devops,
.label.ux,
.label.ipv6,
.label.datastructures,
.label.ci,
.label.esb,
.label.lean, 
.label.oo,
.label.cd,
.label.ddd,
.label.legacy,
.label.copyright,
.label.soa,
.label.charsets,
.label.quality,
.label.concurrency,
.label.vcs,
.label.scalability,
.label.refactoring,
.label.websockets,
.label.code,
.label.deployment,
.label.actors,
.label.polyglot,
.label.complexity,
.label.automation,
.label.memory,
.label.performance,
.label.persistence,
.label.server-side,
.label.bigdata,
.label.search,
.label.di,
.label.bdd,
.label.patterns,
.label.community,
.label.tdd,
.label.monitoring,
.label.embedded,
.label.ejb,
.label.bpm{
  background-color: #0c73e7;
  border-color: #004ba0;
  color: white;

}

.label.norsk,
.label.english,
.label.lightningtalk, 
.label.workshop, 
.label.presentation  {
  background-color: #a1a1a1;
}

.label.java,
.label.dsl,
.label._net,
.label.scala,
.label.javascript,
.label.html5,
.label.groovy,
.label.jvm,
.label.erlang,
.label.ruby,
.label.jruby,
.label.ast,
.label.python,
.label.clojure,
.label.coffeescript, 
.label.net {
  border-color: #065700;
  background-color: #0eb002;
  color: white;
}

.label.camel,
.label.git, 
.label.buildr,
.label.play,
.label.heroku,
.label.solr,
.label.gradle,
.label.lift,
.label.mule,
.label.spring, 
.label.hudson,
.label.jenkins,
.label.wicket,
.label.lucene,
.label.drools,
.label.nagios,
.label.puppet,
.label.junit,
.label.intellij,
.label.qi4j,
.label.glassfish,
.label.sling, 
.label.maven,
.label.grails,
.label.hadoop,
.label.akka {
  background-color: #222;
  border-color: #f1f1f1;;
  color: white;

}

.label:hover{
  cursor: pointer;
}

.c1 {
  font-size: 0.9em;
  font-weight: 200;
}

.c2 {
  font-size: 1.1em;
  font-weight: 200;
}

.c3 {
  font-size: 1.3em;
  font-weight: 300;
}

.c4 {
  font-size: 1.6em;
  font-weight: 400;
}

.c5 {
  font-size: 1.8em;
  font-weight: 600;
}

.c6 {
  font-size: 2.1em;
  font-weight: 700;
}

.c7 {
  font-size: 2.5em;
  font-weight: 800;
}

.c8 {
  font-size: 2.7em;
  font-weight: 900;
}

.c9 {
  font-size: 3.1em;
  font-weight: 900;
}

.ctag {
  display: inline;
  margin: -2px 4px -2px 4px;
  line-height: 100%;
  text-decoration: none;
}

a:hover {
  color: $effect-color !important;
}

.cloud {
  list-style-type: none;
  margin-right: auto;
  margin-top: 0;
  margin-left: 0;
  line-height: 1em;
  
  li {
    display: inline;
    line-height: 0.6em;
  }
}

.spaced {
  margin-left: 4px;
  margin-right: 4px;
}

article {
  margin-bottom: 7px;
  padding-bottom: 25px;
  
}

article.span10 {
  margin-left: 0px !important;
}

li span {
  color: $heading-color;
  font-weight: 500;
}

ul  {
  list-style: none !important;
  margin-left: 10px;
  padding-top: 1px;
}


h3 {
  margin-top: 8px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.abstract-show .wiki {
  height: 100px;
  overflow: hidden;
}

.speaker-list-item .bio .wiki {
  height: auto;
  overflow: visible;
}


article.speaker-section {
  border-bottom: 0;
  
  h3 {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .text {
    padding-top: 10px;
  }

  ul li {
    list-style-type: none !important;
    margin-left: 0 !important;
  }

  div.wiki {
      margin-left: 0;
      margin-top: 0;
      margin-right: 15px;
      color: $heading-color !important;
      background-color: $background-color !important;

      .paragraph {
        padding-top: 7px;
        color: $heading-color !important;
        background-color: $background-color !important;
      }

      .paragraph:first-of-type {
        margin-top: 0;
        padding-top: 0;
      }

      .paragraph:nth-of-type(n+2):first-letter {
        margin-left: 20px;
      }

      .paragraph:first-of-type:first-letter {
        color: $heading-color;
        font-size: 450%;
        float:left; 
        line-height: 0.7em;
        padding: 2px 2px 2px 0px;
        margin-top: 2px;
        margin-bottom: -3px;
        position: relative;
        top: -20px; 
      }
    }

  span {
    color: $heading-color;
  }

  img:hover {
    pointer: hand;
  }

  span.square {
    color: $effect-color;
    margin-left: 5px;
    margin-right: 5px;
  }
}

img {
  border: 1px solid #818181 !important;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #818181;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.svg {
  border: 0 !important;
  box-shadow: none;
  border-radius: 0;
  display: inline;
  float: none;
  vertical-align: middle;
  margin-top: 6px;
  margin-left: -4px;
  margin-right: 0;
}


.blue {
  color: $effect-color;
}

img.odd {
  float: left !important;
  margin: 5px 10px 5px 5px;
}


img.even {
  float: right !important;
  margin: 5px 5px 5px 10px;
}

#searcher {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.popover-inner {
  width: 500px !important;
}

.keywords {
  margin-bottom: 5px;
}


footer {
  text-align: center;
  height: 60px;
  padding-top: 40px;
  font-size: 95% !important;
  background: $background-color;

  p {
    border-top: 1px solid $effect-color;;
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }

}

.wiki .paragraph {
  color: $heading-color;
}

.popover-title {
  color: $heading-color !important;;
  background-color: #222;
  border: 2px solid #333;
}

.popover-content {
  color: color !important;
  background-color: $background-color;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}

#active-tag-title {
  display: none;
}

#overlay {
  background-color: $background-color;
  border: 3px solid #666;
  border-radius: 6px;
  z-index: 10000;
  width: 100px;
  min-heigth: 100px;
  padding: 8px;
  font-size: 110%;
  position: fixed;
  top: 10px;
  display: none;
  left: 600px;
  text-align: center;
}

.twtr-ft {
  display:none;
}

.twtr-doc {
  border: 1px solid #aaa !important;
}


@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
