#{extends 'main.html' /}
#{set title:'Javazone videos :: ' + talk.title /}

<div class="prefix_1 grid_9 suffix_2">
<article class="speaker">
   ${talk.embed.embedCode.raw()}
   <div class="keywords prefix_2 grid_2 alpha">plays: 34</div>
   <div class="keywords grid_2">likes: 12</div>
   <div class="keywords grid_2 omega suffix_1">comments: 4</div>
   #{include 'speakers.html' /}
    year: ${talk.year}
    <footer>
        <ul>
            #{list items:talk.tags, as:'tag'}
            <li><a href="${tag.url}" class="tag">${tag.name}</a></li>
            #{/list}
        </ul>
    </footer>
</article>
</div>
