#{extends 'main.html' /}
#{set title: talk.title /}

<div class="row-fluid">
 <div class="span8">&nbsp;</div>
  <div class="span4">
    <h2>JavaZone ${talk.year}</h2>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <article class="speaker-section span10">
    <div class="row-fluid">
      <div class="span10">
        ${talk.embed.embedCode.raw()}
      </div>
    </div>
    
    <div class="row-fluid keywords">
      <div class="span5">&nbsp;</div>
      <div class="keywords span6">plays: <span>${talk.plays}</span> <span class="square">◼</span> likes: <span>${talk.likes}</span> <span class="square">◼</span> comments: <span>${talk.comments}</span> <span class="square">◼</span> <a href="http://vimeo.com/${talk.id}">on vimeo</a></div>
    </div>

    <div class="row-fluid">
      <div class="span2 ">
        #{include 'speakers.html' /}
      </div>
      <div class="span6">
        ${talk.talkAbstract.raw()}
      </div>
      <div class="span3">
        <h3>Tags</h3>
        <ul>
          #{list items:talk.tags, as:'tag'}
          <li><a href="${tag.url}" class="tag">${tag.name}</a></li>
          #{/list}
        </ul>
      </div>
    </div>
  </article>
</div>

