#{extends 'main.html' /}
#{set title: talk.title /}

<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <article class="speaker-section span8">
    <div class="row-fluid">
      <div class="span10">
        ${talk.embed.embedCode.raw()}
      </div>
    </div>
    
    <div class="row-fluid keywords">
      <div class="span4"></div>
      <div class="keywords span8"> <strong>JavaZone ${talk.year} <span class=square><i class="icon-stop"></i></span> </strong><span>${talk.plays} plays</span> / <span>${talk.likes} likes</span> / <span>${talk.comments} comments</span> <i class="icon-circle-arrow-right spaced"></i> <a href="http://vimeo.com/${talk.id}">on <img class="svg" width="50" height="12" alt="Go home" src="http://a.vimeocdn.com/logo.svg?color=00adee"></a></div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        ${talk.talkAbstract.raw()}
      </div>
      <div class="span4">
        #{include 'speakers.html' /}
        <h3>Tags</h3>
        <ul class=icons>
          #{list items:talk.tags, as:'tag'}
          <li><i class="icon-tag"></i><a  href=@{Talks.filterByTag(tag.name)}  class="tag">${tag.name}</a></li>
          #{/list}
        </ul>
         #{if filterTags.size != 0 }
         <div id="searcher"></div>
         <script type="text/javascript">
           $().ready(function search_loader() { 
             var filters = new Array(${filterTags.join(",")});
             jz.searcher('searcher', filters);
           });
         </script>
         #{/if}

      </div>
    </div>
  </article>
</div>

