#{extends 'main.html' /}
#{set title:'' /}
<div class="row">

  <nav class="span3">
      <h3>Topic</h3>
  <ul id="filter-tags">
    #{list items:tags, as:'tag'}
    <li> <span class="label warning tag ${tag.toLowerCase().replace(" ", "_")}">${tag}</span></li>
    #{/list}
  </ul>
<br />
      <h3>Active topics</h3>
  <ul id="activetags">
  </ul>
  </nav>
  <section class="span13">
  #{list items:talks, as:'talk'}
  <article  id="${talk.id}">
  <header class="span13"><h2>${talk.title}</h2></header>
  <div class="row">
    <div class="span11">
      <a href="@{Talks.show(talk.id)}">
        <img src="${talk.thumbnail.url}" width="${talk.thumbnail.width}" height="${talk.thumbnail.height}" alt="${talk.title}">
      </a>
    </div>
    <div class="span2">
      <ul>
        #{list items:talk.speakers, as:'speaker'}
        <li><a class="speaker" href="@{Speakers.show(speaker.slug)}">${speaker.name}</a><div class="hidden">${speaker.bio.raw()}</div></li>
        #{/list}
        <li><span class="abstract">Abstract</span> <div class="hidden">${talk.talkAbstract().raw()}</div></li>
      </ul>
      <br />
      <dl>
        <dt>plays</dt><dd>${talk.plays}</dd>
        <dt>likes</dt><dd>${talk.likes}</dd>
        <dt>comments</dt><dd>${talk.comments}</dd>
      </dl>
    </div>

  </div>
  <div class>
    #{list items:talk.tags, as:'tag'}
    <span class="label warning tag ${tag.name.toLowerCase().replace(" ", "_")}">${tag.name}</span>
    #{/list}
  </div>
  </article>

  #{/list}
      </section>
</div>

