#{extends 'main.html' /}
#{set title:'' /}
<div class="row">

  <nav class="span3">
  <ul id="filter-tags">
    #{list items:tags, as:'tag'}
    <li> <span class="label warning" id="${tag}">${tag}</span></li>
    #{/list}
  </ul>
  </nav>
  <section class="span13">
  #{list items:talks, as:'talk'}
  <article  id="${talk.id}">
    <header class="span13"><h2>${talk.title}</h2></header>
    <div class="row">
    <div class="span11">
      <a href="@{Talks.show(talk.id)}">
        <img src="${talk.thumbnail.url}" width="${talk.thumbnail.width}" height="${talk.thumbnail.height}" alt="${talk.title}">
      </a>
    </div>
    <div class="span2">
      <ul class="tags">
        <li>plays: <span class="plays">${talk.plays}</span></li>
        <li>likes: <span>${talk.likes}</span></li>
        <li>comments: <span>${talk.comments}</span></li>
      </ul>
      <ul class="tags">
        #{list items:talk.tags, as:'tag'}
        <li><span class="label warning tag">${tag.name}</a></li>
        #{/list}
        <li><span class="label important year">${talk.year}</a></li>
      </ul>
    </div>
  </div>
    <ul>
      #{list items:talk.speakers, as:'speaker'}
      <li><a href="@{Speakers.show(speaker.slug)}">${speaker.name}</a> <span class="symbol">☞</span></li>
      #{/list}
      <li>Abstract  <span class="symbol">☞</span></li>
    </ul>
  </article>
  #{/list}
</div>

