<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" href="@{'public/stylesheets/main.scss'}" type="text/css">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <header>
            <h1><a href="/">JavaZone Videos <img src="@{'/public/images/jz11_logo.png'}" alt=""/></a></h1>
        </header>
        #{doLayout /}
        <footer>
            The JavaZone javazone videos brought to you by <a href="http://java.no/">JavaBin</a>
        </footer>
    </body>
</html>
