#{if talk.speakers.size == 1 }
    <h3>Speaker</h3>
#{/if}
#{else}
    <h3>Speakers</h3>
#{/else}
<ul>
#{list items:talk.speakers, as:'speaker'}
<li class="speaker-list-item"><a class="speaker-link-right" href="@{Speakers.show(speaker.slug)}">${speaker.name}</a><div class="hidden bio"><img src="${play.Play.configuration.get("image.prefix")}/${speaker.images.get("small").url}" class="odd" width="${speaker.images.get("small").width}" height="${speaker.images.get("small").height}" />${speaker.bio.raw()}</div></li>
#{/list}
</ul>
