#{extends 'main.html' /}
#{set title: 'Speakers' /}
#{list items:speakers, as:'speaker'}
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <div class="span6">
    <header><h2><a href="@{Speakers.show(speaker.slug)}">${speaker.name}</a></h2></header>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <article class="speaker-section span8">
    <a href="@{Speakers.show(speaker.slug)}"><img class="${speaker_parity}" src="${play.Play.configuration.get("image.prefix")}/${speaker.images.get("large").url}" alt="${speaker.name}" width="${speaker.images.get("large").width}" height="${speaker.images.get("large").height}" /></a>
    ${speaker.bio.raw()}
    <h3>Talks</h3>
    <ul>
      #{list items:talks.get(speaker.slug), as:'item'}
      <li><a href="@{Talks.show(item.id)}">${item.title} (${item.year})</a></li>
      #{/list}
    </ul>
  </article>
</div>
#{/list}
<script type="text/javascript">$("#speakers").addClass("active");</script>

