#{extends 'main.html' /}
#{set title: speaker.name /}
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <article class="speaker-section span7">
    <header><h1>${speaker.name}</h1></header>
     <img title="${speaker.name}" src="${play.Play.configuration.get("image.prefix")}/${speaker.images.get("large").url}" alt="${speaker.name}" width="${speaker.images.get("large").width}" height="${speaker.images.get("large").height}" />
      ${speaker.bio.raw()}
  </article>
</div>
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
#{if speaker.twitterName != "" && speaker.twitterName != null }
  <div class="span4">
#{/if}
#{else}
  <div class="span8">
#{/else}
    <h3>JavaZone Talks</h3>
    <ul>
      #{list items:talks, as:'talk'}
      <li><a href="@{Talks.show(talk.id)}">${talk.title} (${talk.year})</a></li>
      #{/list}
    </ul>

    #{if otherTalks.size() > 0 }
    <h3>Other talks</h3>
    <ul>
      #{list items:otherTalks, as:'talk'}
      <li><a href="@{Talks.show(talk.id)}">${talk.title} (${talk.venue} ${talk.year})</a></li>
      #{/list}
    </ul>
    #{/if}


  </div>
#{if speaker.twitterName != "" && speaker.twitterName != null }
  <div class="span4">
<h3><i class="icon-twitter"></i>Twitter traffic</h3>
<div id="userfeed"></div>
<script type="text/javascript">
  $().ready(function feed_loader() { 
    jz.feed('userfeed', '${speaker.twitterName}');
  });
</script>
  </div>
#{/if}

</div>
<script type="text/javascript">$("#speakers").addClass("active");</script>

